<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  <!--<system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />

  </system.webServer>-->

	<system.webServer>

		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
				
		<httpProtocol>
			<customHeaders>
				
				<!-- nie działa -->
				<!--<remove name="Server" />-->
				
				<remove name="X-Powered-By" />
				<add name="Version" value="1.0" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<!--<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>-->  

</configuration>