@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}



<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" rows="10" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@{ 
    if (TempData["msg"]!=null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>           
    }
}